asttokens
colorama
comm
contourpy
cycler
debugpy
decorator
executing
fonttools
ipykernel
ipython
ipython_pygments_lexers
jedi
jupyter_client
jupyter_core
kiwisolver=
matplotlib
matplotlib-inline
nest-asyncio
numpy
packaging
parso
pillow
platformdirs
prompt_toolkit
psutil
pure_eval
Pygments
pyparsing
python-dateutil
pyzmq
session_info
six
stack-data
stdlib-list
tornado
traitlets
wcwidth
